<div class="div">
    <div>
      <label>serverName</label>
    </div>

    <div class="div">
      <!--<input type="text"
           class="form-control"
           (input)="onUpdateServerName($event)"> -->
      <input type="text"
             class="form-control"
             [(ngModel)]="serverName">

      <!--<p>{{ serverName }}</p>-->
    </div>

    <div class="div">
      <!--<p [innerText] = "allowNewServer"></p> -->
      <!--<p>{{ serverCreationStatus }}</p> -->
      <p *ngIf= "serverCreated">Server was created. Server name: {{serverName}}</p>
      <!--<ng-template #noServer>
        <p *ngIf= "serverCreated; else noServer">Server was created. Server name: {{serverName}}</p>
        <p>No server created</p>
      </ng-template> -->
    </div>

    <div class="div">
      <button class="btn btn-primary"
              [disabled] = "!allowNewServer"
              (click)="onCreateServer()">Add a Server </button>
    </div>

    &nbsp;

    <div class="div">
        <app-server></app-server>
        <app-server></app-server>
    </div>
</div>



