div {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  width: 23rem;
  max-width: 80vw;
  padding: 1rem 1.5rem 2rem;
  border-radius: 0.3rem 0.3rem 0 0;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
  background: #222;
  color: lightgrey;
  font-size: 0.8rem;
  font-family: sans-serif;
  user-select: none;
}

p {
  margin-bottom: 1rem;
  line-height: 1.1rem;
  text-align: justify;
}

section {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

button {
  width: 8rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  opacity: 0.8;
  transition: opacity 0.1s;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}

button:first-child {
  background: lime;
  color: black;
  margin-right: 0.5rem;
}

button:last-child {
  background: red;
  color: white;
}