<div class="div">
    <div class="col-xs-12">

      <h3>I'm in the AppComponent</h3>
      <hr>

      <div class="div">
        <label>Username</label>
      </div>

      <div class="div">
        <input type="text"
        class="form-control"
        [(ngModel)]="username">
      </div>

      &nbsp;

      <div class= "div">
      <button class="btn btn-primary"
            [disabled] = "username === ''"
            (click)="onCreateUsername(username)">Add a User </button>
      </div>

      &nbsp;

      <div class="div">
        <p>{{ username }}</p>
      </div>

      <div class="div">
        <p>{{ userCreationStatus }}</p>
      </div>

      <div class="div">
        <app-servers></app-servers>
      </div>

      <!-- different ways to user selector: -->
      <!-- <div app-servers> </div> -->
      <!--<div class="app-serves"></div> -->

      <!--<app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert> -->

    </div>
  </div>


